.description-box {
    position: relative;
    height: 100%;
    
    border-radius: 0 0 7px 7px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    margin: 4.0rem 3.2rem 0 3.2rem;
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
}

.description-box > p {
    margin: 0 3.2rem;
    line-height: 1.8rem;
}

p {
    color: var(--desaturated-dark-blue);
    font-weight: 500;
}

@media all and(min-width: 700px) {
    h2 {
        margin: 2.5rem 3.2rem 1.5rem 3.2rem;
    }
}