.share-icons-box {
    position: absolute;

    padding-right: 9.5rem;

    top: 80%;

    width: 100%;
    height: 20%;

    visibility: hidden;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 0 0 6px 6px;

    background-color: var(--very-dark-grayish-blue);
}

.share-icons-box > p {
    margin: auto 0;
    letter-spacing: 4px;
}

.arrow-down {
    visibility: hidden;
    position: absolute;

    top: 64%;
    left: 83%;

    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  
    border-top: 12px solid var(--very-dark-grayish-blue);
}

.visible {
    visibility: visible;
}

@media all and (min-width: 700px) {
    .share-icons-box {
        padding-right: 0;
        align-items: center;

        top: 50%;
        left: 55%;

        width: 60%;

        border-radius: 10px;
        height: 15%;

        background-color: var(--very-dark-grayish-blue);
    }

    .arrowVisible {
        visibility: visible;
    }
}